@if (User.Identity.IsAuthenticated && User.IsInRole("Student"))
{
    <a href="/">Ask mentor</a> <br/>
    <a href="/">View question</a>
}
else if (User.Identity.IsAuthenticated && User.IsInRole("Teacher"))
{
    <a href="/">View feedback</a>
    <br />
    <a href="/">Student questions</a>
}

