
/* 
    Created on : Mar 14, 2023, 12:36:00 AM
    Author     : maiphuonghoang
*/

:root{
    --paddingTd: 15px;
    --marginTd: -15px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1rem;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 0.8rem;

}
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    margin-bottom: 20px;
}
.header__navbar{
    background-color: #c2e7ff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__title{
    font-weight: 400;
    font-size: 1.2rem;
}
.header__list{
    display: flex;
    list-style: none;

}

.header__link{
    text-decoration: none;
    /*color: #fff;*/
    padding: 10px 40px ;
    display: block;
    color: #000;
    font-weight: 800;

}
.header__link:hover{
    /*transform: scale(1.1);*/
    /*color: orange;*/

}
/* table */

table, th, td{
    border:1px solid #00000045;
    padding: var(--paddingTd);
    text-align: center;
}
table{
    border-collapse:collapse;
    margin: 10px auto;
    border-spacing: 20px;
}

th{
    background-color: #04bb55;
    text-transform: uppercase;
}
/* Button */
.btn{
    padding:8px;
    background-color: #04bb55;
    color: #fff;
    font-size: 1rem;
    width: 100px;
    border: 0.5px solid #000;
    cursor: pointer;

}

.student-image{
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto;

}
.student-image img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}
.label-primary {
    background-color: #337ab7;
}
.label-info {
    background-color: #5bc0de;
}
.label-default {
    background-color: #777;
}
.label-danger {
    background-color: #d9534f;
}
.label-success {
    background-color: #5cb85c;
}
.label-warning {
    background-color: #f0ad4e;
}
.label-hover{
    background: #2199d5;
}
.label {
    display: inline-block;
    padding: 0.4em 0.6em 0.4em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    margin: 2px 0;
}

.panel {
    padding: 15px;
    transition: transform ease 0.3s, background ease 0.3s;
    cursor: pointer;
    margin: 0 auto;
    font-size: 0.8rem;
    font-weight: 500;
}
.panel:hover {
    background: #2199d5;
    color: #fff;
}
.logo-img{
    width: 8%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}
.to-top {
    background: white;
    position: fixed;
    bottom: 16px;
    right:32px;
    width:50px;
    height:50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:32px;
    /*color:#1f1f1f;*/
    text-decoration: none;
    opacity:0;
    pointer-events: none;
    transition: all .4s;
    box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.2);

}

.to-top.active {
    bottom:32px;
    pointer-events: auto;
    opacity:1;
    color: #2199d5;

}

