@using PRN211_HE171073_FeedbackAndQASystemFAP.Models
<link href="/css/askqa.css" rel="stylesheet" type="text/css" />

@model Question
<h2>Create question</h2>
<form asp-controller="Questions" asp-action="AskQA" method="post" enctype="multipart/form-data">
    <table class="table table-striped">
        <tr>
            <td>Subject Code:</td>
            <td>
                <select name="CourseId">
                    @foreach (Course c in ViewBag.subjects)
                    {
                        <option value="@c.CourseId">@c.CourseId - @c.CourseName</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td>Title:</td>
            <td>
                <input asp-for="QuestionTitle" class="form-control" />
                <span asp-validation-for="QuestionTitle" class="text-danger"></span>
            </td>

        </tr>
        <tr>
            <td>Question:</td>
            <td>

                <textarea asp-for="QuestionDescription" rows="10" cols="20" style="width:700px;"></textarea>
                <span asp-validation-for="QuestionDescription"></span>
            </td>

        </tr>
        <tr>
            <td>File URL:</td>
            <td>
                <input asp-for="MediaFile" type="file" name="uploadImage" />
                <span style="text-align: left"></span>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input class="btn" type="submit" value="Send Question" />
                <span style="text-align: left"></span>
            </td>
        </tr>

    </table>
</form>
