<link href="/css/askqa.css" rel="stylesheet" type="text/css" />

<h2>Create question</h2>
<table class="table table-striped">
    <tr>
        <td>Subject Code:</td>
        <td>
            <input type="text" style="width:350px;" />
            <input type="hidden"  />
        </td>
    </tr>
    <tr>
        <td>Title:</td>
        <td>
            <input type="text" required="true" style="width:350px;" />
        </td>

    </tr>
    <tr>
        <td>Question:</td>
        <td>

            <textarea rows="10" cols="20" style="width:700px;">
</textarea>


            <span style="color:Red;visibility:hidden;">Yêu cầu nhập dữ liệu</span>
        </td>

    </tr>
    <tr>
        <td>File URL:</td>
        <td>
            <input type="file" />
            <span  style="text-align: left"></span>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <input class="btn" type="submit" value="Send Question"  />
            <span style="text-align: left"></span>
        </td>
    </tr>

</table>